= nested_form_for @registrant do |registrant_form|

	%fieldset.personal
		%legend Personal Information
		
		.field
			%p= @registrant.first_name
			= registrant_form.hidden_field :first_name
		.field
			%p= @registrant.last_name
			= registrant_form.hidden_field :last_name
		.field
			%p= @registrant.email
			= registrant_form.hidden_field :email
		.field
			%p= @registrant.kinship
			= registrant_form.hidden_field :kinship

		.field
			%p= @registrant.shirt_size
			= registrant_form.hidden_field :shirt_size
			
	%fieldset.address
		%legend Address Information

		= registrant_form.fields_for :address  do |address_form|

			.field
				%p= @registrant.street
				= address_form.hidden_field :street
			.field 
				%p= @registrant.city
				= address_form.hidden_field :city
			.field
				%p= @registrant.state
				= address_form.hidden_field :state
			.field
				%p= @registrant.zipcode
				= address_form.hidden_field :zipcode
	
	%fieldset.guest
		%legend Additional Guests
		
		= render :partial => 'guest', :collection => @registrant.guests
			
		
		
	.field
		%p= @registrant.payment_trustee
		= registrant_form.hidden_field :payment_trustee
		
		= registrant_form.hidden_field :init_confirmed	
		
	.actions
		= registrant_form.submit 'Confirm'
